<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>订单查询</title>
    <link th:href="@{mobile/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{mobile/css/signin.css}" rel="stylesheet"/>
    <script th:src="@{jquery.js}"></script>
    <script th:src="@{js/getCourier.js}"></script>
</head>

<body>

    <div class="signin">
        <div class="signin-head"><img th:src="@{mobile/images/test/head_120.png}" alt="" class="img-circle"/></div>
        <form class="form-signin" role="form" action="#">
            <input type="text" id="phoneNum" class="form-control" placeholder="手机号码" required="required" autofocus="autofocus" />
            <button type="button" id="queryBtn" onclick="searchCourier();" class="btn btn-lg btn-warning btn-block">查询</button>
            <!--<button class="btn btn-lg btn-warning btn-block"  onclick="searchCourier();">查询</button>-->
            <br/><span id="span" style="color:blue;"></span>
        </form>
    </div>

    <div style="text-align:center;margin:100px 0; font:normal 14px/24px 'MicroSoft YaHei';">
        <strong>声明:</strong><p>此平台仅提供物流信息查询,复制查询结果在圆通官网查询物流详细信息</p>
    </div>
</body>
</html>
